<p id="notice"><%= notice %></p>

<h1>Consultants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Photo</th>
      <th>State</th>
      <th>City</th>
      <th>Occupation</th>
      <th>Username</th>
      <th>Rating</th>
      <th>Knowedge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultants.each do |consultant| %>
      <tr>
        <td><%= consultant.name %></td>
        <td><%= consultant.email %></td>
        <td><%= consultant.photo %></td>
        <td><%= consultant.state %></td>
        <td><%= consultant.city %></td>
        <td><%= consultant.occupation %></td>
        <td><%= consultant.username %></td>
        <td><%= consultant.rating %></td>
        <td><%= consultant.knowledge %></td>
        <td><%= consultant.password_digested %></td>
        <td><%= link_to 'Show', consultant %></td>
        <td><%= link_to 'Edit', edit_consultant_path(consultant) %></td>
        <td><%= link_to 'Destroy', consultant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultant', new_consultant_path %>
