<p id="notice"><%= notice %></p>

<h1>Cmessages</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th>Consultant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cmessages.each do |cmessage| %>
      <tr>
        <td><%= cmessage.message %></td>
        <td><%= cmessage.user %></td>
        <td><%= cmessage.consultant %></td>
        <td><%= link_to 'Show', cmessage %></td>
        <td><%= link_to 'Edit', edit_cmessage_path(cmessage) %></td>
        <td><%= link_to 'Destroy', cmessage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cmessage', new_cmessage_path %>
